@charset "utf-8";


#wrappercontenu {
		padding-top:10px;

}

/* ************ ENCARTS ************ */

#sondage_admin
{
	background:url(../../images/sondages.jpg);
}

#sondage_admin2 
{
	background:url(../../images/hsondages.jpg);
	margin:0 !important;
	display:none;
}

#entraide_admin
{
	background:url(../../images/entraides.jpg);
}

#entraide_admin2 
{
	background:url(../../images/hentraides.jpg);
	margin:0 !important;
	display:none;
}

#news_admin
{
	background:url(../../images/news.jpg);
}

#news_admin2 
{
	background:url(../../images/hnews.jpg);
	margin:0 !important;
	display:none;
}

#etudiants_admin
{
	background:url(../../images/etudiants.jpg);
}

#etudiants_admin2 
{
	background:url(../../images/hetudiants.jpg);
	margin:0 !important;
	display:none;
}

#documents_admin
{
	background:url(../../images/documents.jpg);
}

#documents_admin2 
{
	background:url(../../images/hdocuments.jpg);
	margin:0 !important;
	display:none;
}

#stats_admin
{
	background:url(../../images/stats.jpg);
}

#stats_admin2 
{
	background:url(../../images/hstats.jpg);
	margin:0 !important;
	display:none;
}

#evenements_admin
{
	background:url(../../images/events.jpg);
}

#evenements_admin2 
{
	background:url(../../images/hevents.jpg);
	margin:0 !important;
	display:none;
}

/* ************ NEWS ************ */

#table_news 
{
	border-collapse:collapse;
	text-align:center;
	margin-bottom:10px;
}

#table_news th 
{
	border:1px dotted #666;
	border-collapse:collapse;
	padding:5px;
	background:#414246;
	color:white;
}

#table_news td 
{
	border:1px dotted #666;
	border-collapse:collapse;
	padding:5px;
	background:white;
}

#tableau 
{
	background:#414246;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:10px;
	float:left;
	width:480px;
}

#droite 
{
	width:485px;
	float:right;
}

#droite h2 
{
	margin-left:30px;
}

#news_ajouter 
{
	float:right;
	padding:8px;
	background:#333;
	color:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;
}

/* ************************ ADMIN DOCUMENTS + MATIERES ************************ */

#gerer_documents, #actionsDiversesDocuments
{
	padding:15px; 
	font-size:16px;
	width: 55%; 
	float: left;
}

#actionsDiversesDocuments
{
	width: 35%; 
}

#actionsDiversesDocuments h2, #gerer_documents h2
{
	padding-bottom:5px; 
	border-bottom:5px solid #A1C117;
}

#gerer_documents h2 div
{
	float: right;
}

#gerer_documents table
{
	width: 100%;
	text-align: center;
	border-spacing: 2px 2px;
	border-collapse: collapse;
}

#gerer_documents th, td
{
	display: table-cell;
}

#gerer_documents th
{	
	background: #414246;
	border-collapse: collapse;
	color: white;
	border: 1px dotted #666;
	padding: 5px;
}

#gerer_documents td
{	
	border-collapse: collapse;
	border: 1px dotted #666;
	padding: 5px;
}

#gerer_documents td img
{
	width: 25px;
	cursor: pointer;
}

.cursusDocument
{
	width: 30%;
}

.nomDocument
{
	width: 40%;
}

.nomDocument input
{
	width: 90%;
	font-size: 16px;
}

.dlsDocument
{
	width: 5%;
}

.actionsDocument
{
	width: 25%;
}

#pagesDocuments
{
	text-align: center;
}

#pagesDocuments a
{
	padding: 3px;
	background: #474747;
	border: 1px solid black;
	color: white;
	margin-right: 10px;
}

#pagesDocuments .pageDocumentsActive
{
	background: #A1C117;
}

#ajout_matieres h2 div
{
	float: right;
}

#ajout_matieres input[type=text]
{
	background: #474747;
	color: white;
	border: 1px solid #474747;
	font-size: 18px;
	width:190px;
}

#ajout_matieres input[type=submit]
{
	background: #A1C117;
	color: white;
	border: 1px solid #474747;
	font-size: 18px;
	cursor: pointer;
}

#ajout_matieres label
{
	font-size: 25px;
	cursor: pointer;
	padding-right: 10px;
}

#ajout_matieres strong
{
	display: block;
	float: left;
	width: 147px;
	font-size: 20px;
}

#ajout_matieres #strongCursus
{
	width: 90px;
}

#statsDocuments strong
{
	font-variant: small-caps;
	font-size: 19px;
}

#statsDocuments span
{
	color: #A1C117;
	font-weight: bold;
}

/* ************************ ADMIN GESTION ETUDIANTS ************************ */

#EditPromotion select
{
	font-size: 16px;
}

#EditVisites input
{
	width: 40px;
	font-size: 16px;
}

#initPass
{
	text-align: center;
}

#initPass input
{
	background: #A1C117;
	color: white;
	border: 1px solid #474747;
	font-size: 18px;
	cursor: pointer;
}

#newPass
{
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 18px;
}

#newPass img
{
	width: 128px;
}

/* ************************ STATISTIQUES ************************ */

#meilleurs_visiteurs, #meilleurs_documents
{
	padding:15px; 
	font-size:16px;
	width: 45%; 
	float: left;
}

#meilleurs_visiteurs img
{
	width: 30px;
}

#meilleurs_visiteurs table
{
	width: 100%;
	text-align: center;
}

#visiteurs_aujourdhui
{
	padding:15px; 
	font-size:16px;
	width: 93%; 
}

#meilleurs_visiteurs h2, #meilleurs_documents h2, #visiteurs_aujourdhui h2
{
	padding-bottom:5px; 
	border-bottom:5px solid #A1C117;
}

#visiteurs_aujourdhui img
{
	width: 50px;
	margin: 10px;
}

/* ************************ ADMIN EVENEMENTS ************************ */

#liste_evenements, #editer_evenements
{
	padding:15px; 
	font-size:16px;
	width: 45%; 
	float: left;
}

#liste_evenements h2, #editer_evenements h2
{
	padding-bottom:5px; 
	border-bottom:5px solid #A1C117;
}

#liste_evenements h2 div
{
	float: right;
	color: #A1C117;
	cursor: pointer;
}

#liste_evenements h2 div:hover
{
	color: inherit;
}

#liste_evenements table
{
	width: 100%;
	text-align: center;
	border-spacing: 2px 2px;
	border-collapse: collapse;
}

#liste_evenements th, td
{
	display: table-cell;
}

#liste_evenements th
{	
	background: #414246;
	border-collapse: collapse;
	color: white;
	border: 1px dotted #666;
	padding: 5px;
}

#liste_evenements td
{	
	border-collapse: collapse;
	border: 1px dotted #666;
	padding: 5px;
}

#liste_evenements td img
{
	width: 25px;
	cursor: pointer;
}

#liste_evenements .event_titre
{
	width: 50%;
}

#liste_evenements .event_date
{
	width: 20%;
}

#liste_evenements .event_participants
{
	width: 5%;
}

#liste_evenements .event_actions
{
	width: 20%;
}

#editer_evenements strong
{
	display: block;
	float: left;
	width: 100px;
}

#editer_evenements textarea
{
	width: 100%;
	height: 80px;
}

#editer_evenements input
{
	border: 1px solid #474747;
	font-size: 16px;
	width: 300px;
}

#editer_evenements input[name=date]
{
	width: 105px;
}

#editer_evenements input[type=submit]
{
	background: #A1C117;
	color: white;
	border: 1px solid #474747;
	font-size: 18px;
	cursor: pointer;
	width: auto;	
}